<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
	<link rel="stylesheet" href="/plugins/byy/css/default/byy.css">
	<link rel="stylesheet" href="/css/center/home.css">
</head>
<body>
	<div class="byy-side">
		<div class="byy-side-scroll">
			<ul class="byy-nav byy-nav-side dark byy-nav-tree">
				<li class="text-center">迅哥博客-管理后台</li>
				<li class="byy-nav-item" >
					<a data-href="/center/site" href="javascript:;" filter="openMenu">站点属性</a>
				</li>
				<li class="byy-nav-item" >
					<a data-href="/center/banner" href="javascript:;" filter="openMenu">Banner设置</a>
				</li>
				<li class="byy-nav-item" >
					<a data-href="/center/links" href="javascript:;" filter="openMenu">友情链接</a>
				</li>
				<li class="byy-nav-item" >
					<a data-href="/center/category" href="javascript:;" filter="openMenu">文章类别</a>
				</li>
				<li class="byy-nav-item" >
					<a data-href="/center/article" href="javascript:;" filter="openMenu">文章信息</a>
				</li>
				<li class="byy-nav-item" >
					<a data-href="/center/comment" href="javascript:;" filter="openMenu">评论信息</a>
				</li>
				<li class="byy-nav-item" >
					<a data-href="/center/wish/list" href="javascript:;" filter="openMenu">心想事成</a>
				</li>
				<li class="byy-nav-item" >
					<a data-href="/center/album/list" href="javascript:;" filter="openMenu">我的相册</a>
				</li>
				<li class="byy-nav-item">
					<a href="javascript:;">商店管理</a>
					<ul class="byy-nav-child">
						<li><a href="javascript:;" data-href="/center/shop/list" filter="openMenu">商品管理</a></li>
						<li><a href="javascript:;" data-href="/center/shop/order" filter="openMenu">支付订单</a></li>
						<li><a href="javascript:;" data-href="/center/shop/suceess" filter="openMenu">购买记录</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="byy-body">
		

	</div>
</body>
</html>
<script type="text/javascript" src="/plugins/byy/byy.js"></script>
<script type="text/javascript">

	byy.require(['jquery','win'],function(){
		byy('.byy-body').tab({
			notitle : true,
			async : true,
			menu : false,
			contents : []
		});
		byy.bindEvents({
			openMenu : function(data,ev){
				var href = data.href;
				console.log(href);
				byy('.byy-body').deleteTab(0);
				byy('.byy-body').addTab({
					url : href
				});
			}
		});
	});
</script>
