<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心 - 登录</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" href="/plugins/byy/css/default/byy.css">
	<link rel="stylesheet" href="/login/login.css">
</head>
<body>

	<section>
		<h3>个人中心 - 登录</h3>	
		<form action="/login" method="post" class="byy-form">
			<div class="byy-form-item">
				<input type="text" name="user" class="byy-form-ipt" value="{{user}}" autocomplete="off" placeholder="请输入您的帐号信息">
			</div>
			 <div class="byy-form-item">
				<input type="password" name="pwd" class="byy-form-ipt" value="{{pwd}}" autocomplete="new-password" placeholder="请输入您的密码信息">
			</div>
			<div class="byy-form-item">
				<button class="byy-btn danger block" type="submit">登录</button>
			</div>
			<div class="msg byy-form-info">{{msg}}</div>
		</form>
		<div class="des">
			注:该登录页仅限个人登录使用，如需了解或使用，请联系！
		</div>
	</section>
</body>
</html>
