<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>关于 - {{site.sitename}}</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" href="/plugins/byy/css/default/byy.css">
	<link rel="stylesheet" href="/css/index/index.css">
	<style>
		h1{
			font-size:2em;
			font-weight:400;
			line-height:3em;
		}
		.about-content li{list-style:circle;font-size:1.4em;color: rgb(85, 85, 85);line-height:3em;font-weight:400;}
	</style>
</head>
<body>
	{{include '../tpl/header.art'}}
	<div class="byy-body fixed">
		<div class="about-content" style="">
			<h1>关于</h1>
			<ul>
				<li>操千曲而后晓声，观千剑而后识器</li>
				<li>QQ交流群:496275628</li>
				<li><a href="https://github.com/chrunlee" target="_blank"><img style="width:1em;height:1em;margin-right:0.5em;" src="/images/github.png" />github : https://github.com/chrunlee</a></li>
			</ul>
		</div>
		{{include '../tpl/footer.art'}}
	</div>
</body>
</html>
{{ include '../tpl/commonjs.art'}}
<script type="text/javascript">
	byy.require('common',function(){
		byy.bindEvents({
			login : function(){
				byy.common.login();
			}
		})
	})
</script>