<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>关于 - {{site.sitename}}</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" href="/plugins/byy/css/default/byy.css">
	<link rel="stylesheet" href="/css/index/index.css">
	<style>
		
	</style>
</head>
<body>
	{{include '../tpl/header.art'}}
	<div class="byy-body">
		<div class="about-content" style="">
			<h1>关于</h1>
			<ul>
				<li class="info">操千曲而后晓声，观千剑而后识器</li>
				<li class="info">QQ交流群:496275628</li>
				<li class="info"><a href="https://github.com/chrunlee" target="_blank"><img style="width:1em;height:1em;margin-right:0.5em;" src="/images/github.png" />github : https://github.com/chrunlee</a></li>
			</ul>
		</div>
		<div class="about-content">
			<h1>朋友们</h1>
			<ul>
				{{each links value i}}
				<li class="about-link"><a href="{{value.href}}" target="_blank"><img src="{{value.href}}/favicon.ico" />{{value.name}}</a></li>
				{{/each}}
			</ul>
		</div>
		{{include '../tpl/footer.art'}}
	</div>
</body>
</html>
{{ include '../tpl/commonjs.art'}}
<script type="text/javascript">
	byy.require('common',function(){
		byy.bindEvents({
			login : function(){
				byy.common.login();
			}
		})
	})
</script>