<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ caipu.title ? caipu.title : '菜谱系列'}}</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{caipu.title}}">
	<meta property="og:description" content="{{caipu.intro}}">
	<meta property="og:image" content="{{caipu.albums}}">
	<meta property="og:url" content="http://gstyle.byyui.com/caipu/show/{{caipu.id}}">
	<link rel="stylesheet" href="/caipu/detail.css">
</head>
<body>
	{{ if caipu }}
	<div style="display:none;"><img src="{{caipu.albums}}" width="300px" height="300px" alt="" /></div>
	<input type="hidden" name="id" value="{{caipu.id}}">
	<div class="album">
		<img src="{{caipu.albums}}" alt="">
		<img src="/scan.jpg" class="scan" alt="">
	</div>
	<div class="des">
		{{caipu.intro}}
	</div>
	<div class="share">
		<img src="/icons/heart.png" alt="">长按关注,右上角分享哦!更多惊喜等着你~~<img src="/icons/heart.png" alt="">
	</div>
	<div class="content">
		<div class="title">—— 主材 ——</div>
		<table>
			<tbody>
				{{ each caipu.ingredients value i}}
				<tr>
					<td>{{value.name}}</td>
					<td>{{value.num}}</td>
				</tr>
				{{ /each }}
			</tbody>
		</table>
	</div>
	<div class="content">
		<div class="title">—— 原料 ——</div>
		<table>
			<tbody>
				{{ each caipu.burden value i}}
				<tr>
					<td>{{value.name}}</td>
					<td>{{value.num}}</td>
				</tr>
				{{ /each }}
			</tbody>
		</table>
	</div>
	<div class="content">
		<div class="title">—— 步骤 ——</div>
		<div class="step">
			{{ each steps value i}}
			<div class="step-item">
				<div class="seq">{{i+1}}</div>
				<div class="step-content">
					<img src="{{value.img}}" alt="">
					<p>{{value.step}}</p>
				</div>
			</div>
			{{ /each }}
		</div>
	</div>
	<div class="share">
		<img src="/icons/heart.png" alt="">
		喜欢这道菜的话，就给他个小心心吧!
		<img src="/icons/heart.png" alt="">
		<div class="likeopt">
			喜欢 <span id="numshow">{{caipu.likenum}}</span>
			<img src="/icons/nozan.png" class="zan"/>
			<img src="/icons/zan.png" class="yizan hide"/>
		</div>
	</div>
	<div class="content">
		<div class="title">—— 相关菜谱 ——</div>
		<div class="link">
			{{each links value i}}
			<a href="/caipu/show/{{value.id}}">
				<div class="link-item">
					<div class="left-pic">
						<img src="{{value.albums}}" alt="">
					</div>
					<div class="right-content">
						<div class="top-title">{{value.title}}</div>
						<div class="bottom-des">{{value.intro}}</div>
					</div>
				</div>
			</a>
			{{ /each }}
		</div>
	</div>
	{{ /if}}
	<footer class="footer">
		<a href="/caipu/home"><span><img src="/icons/category.png" />分类</span></a>
		<a href="/caipu/search"><span><img src="/icons/hot.png" />热门</span></a>
	</footer>
</body>
</html>

<script type="text/javascript" src="/plugins/jquery/jquery.js"></script>
<script type="text/javascript">
$(function(){
	var hasdo = false;
	var id = $('input[name="id"]').val();
	function checkZan (id){
		if(window.localStorage){
			var str = localStorage.getItem('zan') || '{}';
			var resobj = $.parseJSON(str);
			if(resobj[id]){
				return true;
			}else{
				return false;
			}
		}
		return false;
	}
	function updateZan(id){
		if(window.localStorage){
			var str = localStorage.getItem('zan') || '{}';
			var resobj = JSON.parse(str);
			resobj[id] = true;
			var newstr = JSON.stringify(resobj);
			localStorage.setItem('zan',newstr);
		}
	}
	$('.zan').on('click',function(){
		//本地cookie记录是否已赞
		if(hasdo){
			return;
		}
		hasdo = true;
		//查询当前是否已赞
		var hasZan = checkZan(id);
		if(!hasZan){
			//向后台请求+1
			$.ajax({
				url : '/caipu/zan',
				type : 'post',
				data : {id : id},
				success : function(res){
					if(res == 'true'){
						updateZan(id);
						//更新页面数据
						$('.zan').addClass('hide');
						$('.yizan').removeClass('hide');
						$('#numshow').html(parseInt($('#numshow').text(),10)+1);
					}else{
						hasdo = false;
					}
				},
				error : function(){
					hasdo = false;
				}
			});
		}
	});
	if(checkZan(id)){
		$('.zan').addClass('hide');
		$('.yizan').removeClass('hide');
	}
});
</script>
{{ include '../tpl/tongji'}}