<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>食神秘籍 - 练就一身高级厨艺</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<meta property="og:type" content="website" />
	<link rel="stylesheet" href="/caipu/home.css">
</head>
<body>
	<!-- 
	1. 分类：大分类+小分类
	2. 检索：检索关键字+随机推荐（根据点赞数量）
	-->
	<header class="header">
		· All Blue 
	</header>
	<!--内容-->
	<section class="content">
		{{ each caipu value i}}
		<article class="item show">
			<header>
				<img src="{{value.icons}}" alt="">{{value.name}}
			</header>
			<section class="list">
				{{ include '../caipu/caipu.art' value}}
				
			</section>
		</article>
		{{ /each }}
	</section>

	<footer class="footer">
		<a href="/caipu/home"><span class="active"><img src="/icons/category.png" />分类</span></a>
		<a href="/caipu/search"><span><img src="/icons/hot.png" />热门</span></a>
	</footer>
</body>
</html>

<script type="text/javascript" src="/plugins/jquery/jquery.js"></script>
<script type="text/javascript">
	$(function(){
		//1.事件绑定，点击
		$('.name').on('click',function(){
			//跳转分类页面，展示对应的菜谱信息
			location.href = '/caipu/fenlei?id='+$(this).attr('id');
		})
	});
</script>
{{ include '../tpl/tongji'}}