/*图片的样式*/
html,body{
	width:100%;
	margin:0px;
	padding:0px;
	background-color:#cce8ec;
}
.head{
	line-height:2em;
	font-size:2em;
	width:90%;
	margin:0px auto;
	color:#333;
}
.search{
	padding:10px;
	box-sizing:border-box;
	height:5em;
	text-align:center;
	position:fixed;
	top:0em;
	width:100%;
	z-index:100;
	background-color:rgba(0,0,0,0.3);
}
.search input{
    width: 90%;
    text-align: center;
    border: 1px solid #49e;
    border-radius: 5px;
    height: 3em;
    line-height: 3em;
    font-size: 1em;
    padding-right: 2em;
    box-sizing: border-box;
    outline: none;
    color:#49e;
}
section{
	margin-top:6em;
}
article{
	text-align:center;
	position: relative;
	margin-top:2em;
}
img{
	width:90%;
	text-align:center;
	min-height:200px;
}
.tag{
	background:rgba(0,0,0,0.3);
	position:absolute;
	left:5%;
	right:5%;
	height:2em;
	font-size:1em;
	line-height:2em;
	padding:0px 1em;
	bottom:0px;
	color:white;
}
.search-icon,.search-icon:focus,.search-icon:active{
	background-image:url(/icons/search.png);
	display: inline-block;
    position: absolute;
    right: 5%;
    width: 3em;
    height: 3em;
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color:transparent;
    border:none;
    margin:4px;
}
.more{
	text-align: center;
    height: 3em;
    border: 1px solid #92cae0;
    line-height: 3em;
    font-size: 0.8em;
    margin-top: 1em;
    width: 90%;
    margin: 1em auto;
    border-radius: 10px;
    background-color: #c3f3f0;
}