/**后台首页*/
.byy-side,.byy-body{
	top : 0px;
}
.frame-body{
	padding-top:20px;
	padding-right:50px;
	padding-left:50px;
}
.list-panel{
	margin-bottom:0px;
	background-image:none;
}
.list-panel .byy-panel-content{margin-bottom:0px;}
.fw{width:60%!important;}
/**banner show**/
.banner-show{
	height:150px;
	img{
		max-height:150px;
		max-height:100%;
	}
}

.line{
	border-bottom:1px dotted #aaa;
}

/**编辑器*/
.editor{
	width:100%;
	box-sizing:border-box;
	position:relative;
	height:400px;
	*{box-sizing:border-box;}
	.left-editor,.right-preview{
		width:50%;
		float:left;
		position:relative;
		height:100%;
	}
	.left-editor{
		background-color:#f2f2f2;
		.tool-list{
			height:50px;
			position:absolute;
			top:0px;
			width:100%;
		}
		.editor-content{
			width:100%;
			height:100%;
		}
		textarea{
			width:100%;
			height:100%;
			resize:none;
			outline:none;
			font-family: Georgia,Times New Roman,Times,Songti SC,serif;

		    padding: 40px 40px 80px;
		    margin-bottom: 0;
		    resize: none;
		    color: #333;
		    background-color: transparent;
		    font-size: 18px;
		    font-weight: 400;
		    line-height: 30px;
		    border: none;
		    outline: none;
		    -webkit-appearance: none;
		    overflow: auto;
		}
	}
}